body {
  font-family: verdana;
  background: linear-gradient(to bottom right, #8c8c8c, #666666);
}

.jumbotron {
  background: url(/static/images/wallpaper.gif) center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}