{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="container" style="margin-top:40px; margin-bottom:40px">
            
            <!-- Page Title -->
            <h1>About Me</h1>
            <hr>

            <!-- Bootstrap Grid System -->
            <div class="row">

                <!-- Bootstrap Responsive Column Span-4 -->
                <div class="col-sm-4">
           
                    <!-- Photo Carousel Container -->
                    <div class="container my-3">
                        <h4>Photos of me:</h4>

                        <!-- Bootstrap Carousel JS -->
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">

                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ul>
  
                            <!-- The Slideshow -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{% static 'images/wisuda-1.JPG' %}" class="rounded img-fluid" alt="FotoWisuda1">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'images/wisuda-2.JPG' %}" class="rounded img-fluid" alt="FotoWisuda2">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'images/wisuda-3.JPG' %}" class="rounded img-fluid" alt="FotoWisuda3">
                                </div>
                            </div>
  
                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>

                        </div>
                    </div>

                    <!-- Card Container -->
                    <div class="container" style="margin-top:30px; margin-bottom:30px">

                        <!-- Red About Card -->
                        <div class="card bg-danger text-white">
                            <div class="container" style="margin-top:30px; display:flex; justify-content:center">
                                <i class="fas fa-info-circle fa-10x"></i>
                            </div>
                            <div class="card-body text-center">
                                <h2 class="card-title"><strong>ABOUT</strong></h2>
                                <hr>
                                <p class="card-text">A little bit about me.</p>
                                <p class="card-text">Get to know me a little more.</p>
                                <p class="card-text">My little auto-biography.</p>
                                <p class="card-text">And some pictures too.</p>
                                <a href="{% url 'homepage:about' %}" class="btn btn-primary stretched-link">See Profile</a>
                            </div>
                        </div>

                    </div>

                </div>

                <!-- Bootstrap Responsive Column Span-8 -->
                <div class="col-sm-8">
                    <div class="container my-3">

                        <h3>Hello there!</h3>
                        <h2>I'm <strong>PRIMO GIANCARLO UNEPUTTY</strong></h2>
                        <h5>Computer Science Student from University of Indonesia</h5>
                        <hr>

                        <!-- Bootstrap List Group -->
                        <ul class="list-group list-group-flush">

                            <!-- NPM -->
                            <li class="list-group-item list-group-item-dark">
                                <div class="container my-2">
                                    <i class="fas fa-id-card fa-3x fa-pull-left"></i>
                                        <h4><strong>Nomor Pokok Mahasiswa (NPM):</strong></h4>
                                        <h5>1806205180</h5>
                                </div>
                            </li>

                            <!-- Birthday -->
                            <li class="list-group-item list-group-item-secondary">
                                <div class="container my-2">
                                    <i class="fas fa-birthday-cake fa-3x fa-pull-left"></i>
                                        <h4><strong>Birthdate:</strong></h4>
                                        <h5>June 30th 2000</h5>
                                </div>
                            </li>

                            <!-- Age -->
                            <li class="list-group-item list-group-item-dark">
                                <div class="container my-2">
                                    <i class="fas fa-user-circle fa-3x fa-pull-left"></i>
                                        <h4><strong>Age (2019):</strong></h4>
                                        <h5>19 years old and still counting</h5>
                                </div>
                            </li>

                            <!-- Occupation -->
                            <li class="list-group-item list-group-item-secondary">
                                <div class="container my-2">
                                    <i class="fas fa-user-md fa-3x fa-pull-left"></i>
                                        <h4><strong>Occupation:</strong></h4>
                                        <h5>Student at Fasilkom University of Indonesia</h5>
                                </div>
                            </li>

                            <!-- Favorite Food -->
                            <li class="list-group-item list-group-item-dark">
                                <div class="container my-2">
                                    <i class="fas fa-utensils fa-3x fa-pull-left"></i>
                                        <h4><strong>Favorite Food:</strong></h4>
                                        <h5>I like fruits, I guess they're juicy. Especially apples.</h5>
                                </div>
                            </li>

                            <!-- Favorite Beverage -->
                            <li class="list-group-item list-group-item-secondary">
                                <div class="container my-2">
                                    <i class="fas fa-coffee fa-3x fa-pull-left"></i>
                                        <h4><strong>Favorite Beverage:</strong></h4>
                                        <h5>Chocolate milk, either hot or cold.</h5>
                                </div>
                            </li>

                            <!-- Likes -->
                            <li class="list-group-item list-group-item-dark">
                                <div class="container my-2">
                                    <i class="fas fa-thumbs-up fa-3x fa-pull-left"></i>
                                        <h4><strong>What I Like:</strong></h4>
                                        <h5>Preaching about our Lord and Savior, Jesus Christ.</h5>
                                </div>
                            </li>

                            <!-- Dislikes -->
                            <li class="list-group-item list-group-item-secondary">
                                <div class="container my-2">
                                    <i class="fas fa-thumbs-down fa-3x fa-pull-left"></i>
                                        <h4><strong>What I Dislike:</strong></h4>
                                        <h5>Old people driving, women driving, kids driving.</h5>
                                </div>
                            </li>

                            <!-- Hopes & Dreams -->
                            <li class="list-group-item list-group-item-secondary">
                                <div class="container my-2">
                                    <i class="fas fa-comment-dots fa-3x fa-pull-left"></i>
                                        <h4><strong>Hopes and Dreams:</strong></h4>
                                        <h5>Don't have any. Live comfortably, I guess.</h5>
                                </div>
                            </li>

                        </ul>
                        
                    </div>
                </div>

            </div>
        </div>

{% endblock %}