{% extends 'base.html' %}
{% load static %}

{% block content %}

  	<div class="container" style="margin-top:40px; margin-bottom:40px">
  		<h1>Add Your Schedule</h1>

      <!-- Card Container -->
      <div class="container my-3">

        <!-- Yellow Schedule List Card -->
        <div class="card bg-warning text-white">
          <div class="container" style="margin-top:30px; display:flex; justify-content:center">
            <i class="fas fa-file-invoice fa-10x"></i>
          </div>
          <div class="card-body text-center">
            <h2 class="card-text"><strong>LIST</strong></h2>
            <hr>
            <p class="card-text">See all your schedules.</p>
            <p class="card-text">Your own To-Do List.</p>
            <p class="card-text">To remind you of things.</p>
            <p class="card-text">You can delete them too.</p>
            <a href="{% url 'homepage:list' %}" class="btn btn-primary stretched-link">See Schedules</a>
          </div>
        </div>

      </div>   

  		<form class="site-form" action="{% url 'homepage:add' %}" method="POST">
        {% csrf_token %}
  		  {{ form }}
        <input type="submit" value="SUBMIT">
		  </form>	

  	</div>

{% endblock %}