<!DOCTYPE html>
{% load static %}
<html lang="en">
 	
 	<head>
    	
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Personal CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">

    <!-- Font Awesome 5 -->
    <link rel="stylesheet" 
    href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" 
    crossorigin="anonymous">

    <!-- Website Title  -->
    <title>Primo Giancarlo | PPW Story</title>

  </head>

  <body>

  	<!-- Bootstrap Header Jumbotron -->
  	<div class="jumbotron jumbotron-fluid text-center" style="margin-bottom:0">
  		<h1><strong>Primo Giancarlo Uneputty</strong></h1>
  		<p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</p> 
		</div>

		<!-- Bootstrap Sticky Navbar -->
  	<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">

  		<!-- Navbar Brand/Logo -->
  		<a class="navbar-brand" href="{% url 'homepage:index' %}"><strong>HOME</strong></a>

  		<!-- Toggler/collapsibe Button -->
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    		<span class="navbar-toggler-icon"></span>
  		</button>

  		<!-- Navbar Links -->
  		<div class="collapse navbar-collapse" id="collapsibleNavbar">
  			<ul class="navbar-nav">

    			<li class="nav-item">
      			<a class="nav-link" href="{% url 'homepage:about' %}">About</a>
    			</li>

    			<li class="nav-item">
      			<a class="nav-link" href="{% url 'homepage:portfolio' %}">Portfolio</a>
    			</li>

    			<li class="nav-item">
      			<a class="nav-link" href="{% url 'homepage:interests' %}">Interests</a>
    			</li>
    			
          <li class="nav-item">
      			<a class="nav-link" href="{% url 'homepage:contact' %}">Contact</a>
    			</li>
            
          <li class="nav-item">
            <a class="nav-link" href="{% url 'homepage:list' %}">Schedule</a>
          </li>

  			</ul>
  		</div>

		</nav>

    <div class="wrapper">
      {% block content %}

      {% endblock %}
    </div>

    <!-- Bootstrap Footer Jumbotron -->
    <div class="jumbotron jumbotron-fluid text-center" style="margin-bottom:0">
      <p>This website is incomplete. All Rights reserved. Copyright @ 2019</p>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
    crossorigin="anonymous"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
    crossorigin="anonymous"></script>

    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
    crossorigin="anonymous"></script>

  </body>

</html>