{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="container" style="margin-top:40px; margin-bottom:40px">
    
            <!-- Page Title -->
            <h1>Contact Information</h1>
            <hr>

             <!-- Bootstrap Grid System -->
            <div class="row">

                <!-- Bootstrap Responsive Column Span-4 -->
                <div class="col-sm-4">

                    <!-- Card Container -->
                    <div class="container my-3">

                        <!-- Turquoise Contact Card -->
                        <div class="card bg-info text-white">
                            <div class="container" style="margin-top:30px; display:flex; justify-content:center">
                                <i class="fas fa-phone-square fa-10x"></i>
                            </div>
                            <div class="card-body text-center">
                                <h2 class="card-text"><strong>CONTACT</strong></h2>
                                <hr>
                                <p class="card-text">How to get in contact.</p>
                                <p class="card-text">My social media profiles.</p>
                                <p class="card-text">Give me a little call maybe.</p>
                                <p class="card-text">I'm antisocial please help.</p>
                                <a href="{% url 'homepage:contact' %}" class="btn btn-primary stretched-link">See Info</a>
                            </div>
                        </div>  

                    </div>
                </div>

                <!-- Bootstrap Responsive Column Span-8 -->
                <div class="col-sm-8">

                    <!-- Card Column Container -->
                    <div class="container my-3">

                        <!-- Bootstrap Card Columns -->
                        <div class="card-columns">

                            <!-- First Contact (Phone) -->
                            <div class="card bg-dark text-white">
                                <div class="container" style="margin-top:30px; display:flex; justify-content:center">
                                    <i class="fas fa-phone fa-4x"></i>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-text"><strong>Phone Number:</strong></h5>
                                    <p class="card-text">+62-878-7878-9282</p>
                                    <a href="#" class="btn btn-primary disabled stretched-link">Call Me</a>
                                </div>
                            </div>

                            <!-- Second Contact (Email) -->
                            <div class="card bg-secondary text-white">
                                <div class="container" style="margin-top:30px; display:flex; justify-content:center">
                                    <i class="fas fa-envelope fa-4x"></i>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-text"><strong>Email Address:</strong></h5>
                                    <p class="card-text">primo.uneputty@gmail.com</p>
                                    <a href="#" class="btn btn-primary disabled stretched-link">Email Me</a>
                                </div>
                            </div>

                            <!-- Third Contact (LINE) -->
                            <div class="card bg-dark text-white">
                                <div class="container" style="margin-top:30px; display:flex; justify-content:center">
                                    <i class="fab fa-line fa-4x"></i>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-text"><strong>Line ID:</strong></h5>
                                    <p class="card-text">primo.giancarlo</p>
                                    <a href="#" class="btn btn-primary disabled stretched-link">Add Me</a>
                                </div>
                            </div>

                            <!-- Fourth Contact (Twitter) -->
                            <div class="card bg-secondary text-white">
                                <div class="container" style="margin-top:30px; display:flex; justify-content:center">
                                    <i class="fab fa-twitter fa-4x"></i>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-text"><strong>Twitter Account:</strong></h5>
                                    <p class="card-text">This section is empty.</p>
                                    <a href="#" class="btn btn-primary disabled stretched-link">No Twitter</a>
                                </div>
                            </div>  

                            <!-- Fifth Contact (Instagram) -->
                            <div class="card bg-dark text-white">
                                <div class="container" style="margin-top:30px; display:flex; justify-content:center">
                                    <i class="fab fa-instagram fa-4x"></i>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-text"><strong>Instagram Profile:</strong></h5>
                                    <p class="card-text">This section is empty.</p>
                                    <a href="#" class="btn btn-primary disabled stretched-link">No Instagram</a>
                                </div>
                            </div>

                            <!-- Sixth Contact (Facebook) -->
                            <div class="card bg-secondary text-white">
                                <div class="container" style="margin-top:30px; display:flex; justify-content:center">
                                    <i class="fab fa-facebook fa-4x"></i>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-text"><strong>Facebook Page:</strong></h5>
                                    <p class="card-text">This section is empty.</p>
                                    <a href="#" class="btn btn-primary disabled stretched-link">No Facebook</a>
                                </div>
                            </div>

                            <!-- Seventh Contact (GitHub) -->
                            <div class="card bg-dark text-white">
                                <div class="container" style="margin-top:30px; display:flex; justify-content:center">
                                    <i class="fab fa-gitlab fa-4x"></i>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-text"><strong>GitLab Repository:</strong></h5>
                                    <p class="card-text">https://gitlab.com/PrimoGU</p>
                                    <a href="https://gitlab.com/PrimoGU" class="btn btn-primary stretched-link">Join Me</a>
                                </div>
                            </div>

                            <!-- Eighth Contact (LinkedIn) -->
                            <div class="card bg-secondary text-white">
                                <div class="container" style="margin-top:30px; display:flex; justify-content:center">
                                    <i class="fab fa-linkedin fa-4x"></i>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-text"><strong>LinkedIn Page:</strong></h5>
                                    <p class="card-text">This section is empty.</p>
                                    <a href="#" class="btn btn-primary disabled stretched-link">See Me</a>
                                </div>
                            </div>

                            <!-- Ninth Contact (Steam) -->
                            <div class="card bg-dark text-white">
                                <div class="container" style="margin-top:30px; display:flex; justify-content:center">
                                    <i class="fab fa-steam fa-4x"></i>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-text"><strong>Steam Name:</strong></h5>
                                    <p class="card-text">Accerelix</p>
                                    <a href="https://steamcommunity.com/id/acerrelix/" class="btn btn-primary stretched-link">Play With Me</a>
                                </div>
                            </div>
                        
                        </div>

                    </div>
                </div>

            </div>
        </div>

{% endblock %}