{% extends 'base.html' %}
{% load static %}

{% block content %}

		  <div class="container" style="margin-top:40px; margin-bottom:40px">
    
        <!-- Page Title -->
    		<h1>Home Page</h1>
        <hr>

        <!-- Bootstrap Card Deck -->
   			<div class="card-deck">

          <!-- Red About Card -->
    			<div class="card bg-danger text-white">
    				<div class="container" style="margin-top:30px; display:flex; justify-content:center">
    					<i class="fas fa-info-circle fa-10x"></i>
    				</div>
      				<div class="card-body text-center">
        				<h2 class="card-title"><strong>ABOUT</strong></h2>
                <hr>
        				<p class="card-text">A little bit about me.</p>
        				<p class="card-text">Get to know me a little more.</p>
        				<p class="card-text">My little auto-biography.</p>
        				<p class="card-text">And some pictures too.</p>
        				<a href="{% url 'homepage:about' %}" class="btn btn-primary stretched-link">See Profile</a>
      				</div>
    			</div>

          <!-- Blue Portfolio Card -->
    			<div class="card bg-primary text-white">
    				<div class="container" style="margin-top:30px; display:flex; justify-content:center">
    					<i class="fas fa-file-invoice fa-10x"></i>
    				</div>
      				<div class="card-body text-center">
        				<h2 class="card-text"><strong>PORTFOLIO</strong></h2>
                <hr>
        				<p class="card-text">Just my mini resume.</p>
        				<p class="card-text">All my puny achievements.</p>
        				<p class="card-text">My very lacking experience.</p>
        				<p class="card-text">And my nonexistent skills.</p>
        				<a href="{% url 'homepage:portfolio' %}" class="btn btn-primary stretched-link">See Resume</a>
      				</div>
    			</div>

          <!-- Green Interests Card -->
    			<div class="card bg-success text-white">
    				<div class="container" style="margin-top:30px; display:flex; justify-content:center">
    					<i class="fas fa-gamepad fa-10x"></i>
    				</div>
      				<div class="card-body text-center">
        				<h2 class="card-text"><strong>INTERESTS</strong></h2>
                <hr>
        				<p class="card-text">My hobbies and interests</p>
        				<p class="card-text">What I do in my free time.</p>
        				<p class="card-text">How I alleviate boredom.</p>
        				<p class="card-text">Things you shouldn't do.</p>
        				<a href="{% url 'homepage:interests' %}" class="btn btn-primary stretched-link">See Hobbies</a>
      				</div>
    			</div>

          <!-- Turquoise Contact Card -->
    			<div class="card bg-info text-white">
    				<div class="container" style="margin-top:30px; display:flex; justify-content:center">
    					<i class="fas fa-phone-square fa-10x"></i>
    				</div>
      				<div class="card-body text-center">
        				<h2 class="card-text"><strong>CONTACT</strong></h2>
                <hr>
        				<p class="card-text">How to get in contact.</p>
        				<p class="card-text">My social media profiles.</p>
        				<p class="card-text">Give me a little call maybe.</p>
        				<p class="card-text">I'm antisocial please help.</p>
        				<a href="{% url 'homepage:contact' %}" class="btn btn-primary stretched-link">See Info</a>
      				</div>
    			</div>  

  			</div>

  		</div>

{% endblock %}