{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="container" style="margin-top:40px; margin-bottom:40px">
    
            <!-- Page Title -->
            <h1>My Hobbies</h1>
            <hr>

            <!-- Bootstrap Grid System -->
            <div class="row">

                <!-- Bootstrap Responsive Column Span-4 -->
                <div class="col-sm-4">

                    <!-- Card Container -->
                    <div class="container my-3">

                        <!-- Green Interests Card -->
                        <div class="card bg-success text-white">
                            <div class="container" style="margin-top:30px; display:flex; justify-content:center">
                                <i class="fas fa-gamepad fa-10x"></i>
                            </div>
                            <div class="card-body text-center">
                                <h2 class="card-text"><strong>INTERESTS</strong></h2>
                                <hr>
                                <p class="card-text">My hobbies and interests</p>
                                <p class="card-text">What I do in my free time.</p>
                                <p class="card-text">How I alleviate boredom.</p>
                                <p class="card-text">Things you shouldn't do.</p>
                                <a href="{% url 'homepage:interests' %}" class="btn btn-primary stretched-link">See Hobbies</a>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Bootstrap Responsive Column Span-8 -->
                <div class="col-sm-8">

                    <!-- List Group Container -->
                    <div class="container my-3">

                        <!-- Bootstrap List Group -->
                        <ul class="list-group list-group-flush">

                            <!-- First Hobby -->
                            <li class="list-group-item list-group-item-dark">
                                <div class="container my-2">
                                    <i class="fas fa-headphones fa-3x fa-pull-left"></i>
                                        <h4><strong>Listening to soothing music to cleanse my soul.</strong></h4>
                                        <h5>Mostly Indie music and songs from the 20th century. </h5>
                                </div>
                            </li>

                            <!-- Second Hobby -->
                            <li class="list-group-item list-group-item-secondary">
                                <div class="container my-2">
                                    <i class="fab fa-reddit fa-3x fa-pull-left"></i>
                                        <h4><strong>Browsing through the dark halls of Reddit.</strong></h4>
                                        <h5>Mostly looking at stupid memes and random things.</h5>
                                </div>
                            </li>

                            <!-- Third Hobby -->
                            <li class="list-group-item list-group-item-dark">
                                <div class="container my-2">
                                    <i class="fab fa-steam fa-3x fa-pull-left"></i>
                                        <h4><strong>Playing online and offline games on Steam.</strong></h4>
                                        <h5>Mostly just Counter-Strike and Just Cause.</h5>
                                </div>
                            </li>

                            <!-- Fourth Hobby -->
                            <li class="list-group-item list-group-item-secondary">
                                <div class="container my-2">
                                    <i class="fas fa-book fa-3x fa-pull-left"></i>
                                        <h4><strong>Reading useless novels and books for knowledge.</strong></h4>
                                        <h5>Mostly those fantasy novels and maybe sci-fi too.</h5>
                                </div>
                            </li>

                            <!-- Fifth Hobby -->
                            <li class="list-group-item list-group-item-dark">
                                <div class="container my-2">
                                    <i class="fab fa-youtube fa-3x fa-pull-left"></i>
                                        <h4><strong>Watching random education videos on YouTube.</strong></h4>
                                        <h5>Mostly videos from Real Life Lore and Real Engineering.</h5>
                                </div>
                            </li>

                            <!-- Sixth Hobby -->
                            <li class="list-group-item list-group-item-secondary">
                                <div class="container my-2">
                                    <i class="fas fa-mobile-alt fa-3x fa-pull-left"></i>
                                        <h4><strong>Playing around on my phone to relieve boredom.</strong></h4>
                                        <h5>Mostly just looking through my social media accounts.</h5>
                                </div>
                            </li>

                            <!-- Seventh Hobby -->
                            <li class="list-group-item list-group-item-dark">
                                <div class="container my-2">
                                    <i class="fas fa-brain fa-3x fa-pull-left"></i>
                                        <h4><strong>Contemplating the reason for our existence.</strong></h4>
                                        <h5>Sometimes I get both philosophical and suicidal at once.</h5>
                                </div>
                            </li>

                        </ul>

                    </div>
                </div>

            </div>
        </div>

{% endblock %}