{% extends 'base.html' %}
{% load static %}

{% block content %}

  	<div class="container"  style="margin-top:40px; margin-bottom:40px">
  		<h1>View Your Schedules</h1>  

      <!-- Card Container -->
      <div class="container my-3">

        <!-- Blue Add Schedule Card -->
        <div class="card bg-primary text-white">
          <div class="container" style="margin-top:30px; display:flex; justify-content:center">
            <i class="fas fa-calendar-plus fa-10x"></i>
          </div>
          <div class="card-body text-center">
            <h2 class="card-text"><strong>ADD</strong></h2>
            <hr>
            <p class="card-text">Add more schedules.</p>
            <p class="card-text">So you don't forget things.</p>
            <p class="card-text">To help remind you.</p>
            <p class="card-text">Set up your daily targets.</p>
            <a href="{% url 'homepage:add' %}" class="btn btn-primary stretched-link">Add Schedules</a>
          </div>
        </div>

      </div>              

  		<div class="schedules">
        {% for schedule in schedules %}
          <div class="schedule">
            <h2>{{ schedule.nama }}</h2>
            <h3>{{ schedule.kategori }}</h3>
            <p>{{ schedule.tempat }}</p>
            <p>{{ schedule.hari }}</p>
            <p>{{ schedule.tanggal }}</p>
            <p>{{ schedule.waktu }}</p>
            <a href="{% url 'homepage:del' schedule.id %}" class="btn btn-danger" role="button">Delete</a>
          </div>
        {% endfor %}
		  </div>	

  	</div>

{% endblock %}