{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="container" style="margin-top:40px; margin-bottom:40px">
            
            <!-- Page Title -->
            <h1>My Resume</h1>
            <hr>

            <!-- Bootstrap Grid System -->
            <div class="row">

                <!-- Bootstrap Responsive Column Span-4 -->
                <div class="col-sm-4">

                    <!-- Card Container -->
                    <div class="container my-3">

                        <!-- Blue Portfolio Card -->
                        <div class="card bg-primary text-white">
                            <div class="container" style="margin-top:30px; display:flex; justify-content:center">
                                <i class="fas fa-file-invoice fa-10x"></i>
                            </div>
                            <div class="card-body text-center">
                                <h2 class="card-text"><strong>PORTFOLIO</strong></h2>
                                <hr>
                                <p class="card-text">Just my mini resume.</p>
                                <p class="card-text">All my puny achievements.</p>
                                <p class="card-text">My very lacking experience.</p>
                                <p class="card-text">And my nonexistent skills.</p>
                                <a href="{% url 'homepage:portfolio' %}" class="btn btn-primary stretched-link">See Resume</a>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Bootstrap Responsive Column Span-8 -->
                <div class="col-sm-8">

                    <!-- Accordion Container -->
                    <div class="container my-3">

                        <!-- Bootstrap Collapsible Card/Accordion -->
                        <div id="accordion">

                            <!-- Programming Skills Accordion -->
                            <div class="card bg-dark text-white">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                        <h4><strong>Programming Skills</strong></h4>
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="">
                                    <div class="card-body">

                                        <!-- Java Skills Progress Bar -->
                                        <div class="container my-2">
                                            <i class="fab fa-java fa-2x"></i><strong> Java</strong>
                                        </div>
                                        <div class="progress" style="height:10px">
                                            <div class="progress-bar bg-danger progress-bar-striped" style="width:65%"></div>
                                        </div>

                                        <!-- Python Skills Progress Bar -->
                                        <div class="container my-2">
                                            <i class="fab fa-python fa-2x"></i><strong> Python</strong>
                                        </div>
                                        <div class="progress" style="height:10px">
                                            <div class="progress-bar bg-danger progress-bar-striped" style="width:70%"></div>
                                        </div>

                                        <!-- HTML Skills Progress Bar -->
                                        <div class="container my-2">
                                            <i class="fab fa-html5 fa-2x"></i><strong> HTML5</strong>
                                        </div>
                                        <div class="progress" style="height:10px">
                                            <div class="progress-bar bg-danger progress-bar-striped" style="width:55%"></div>
                                        </div>

                                        <!-- CSS Skills Progress Bar -->
                                        <div class="container my-2">
                                            <i class="fab fa-css3 fa-2x"></i><strong> CSS3</strong>
                                        </div>
                                        <div class="progress" style="height:10px">
                                            <div class="progress-bar bg-danger progress-bar-striped" style="width:50%"></div>
                                        </div>

                                        <!-- JavaScript Skills Progress Bar -->
                                        <div class="container my-2">
                                            <i class="fab fa-js fa-2x"></i><strong> JavaScript</strong>
                                        </div>
                                        <div class="progress" style="height:10px">
                                            <div class="progress-bar bg-danger progress-bar-striped" style="width:40%"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- Education History Accordion -->
                            <div class="card bg-secondary text-white">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                                        <h4><strong>Education History</strong></h4>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="">
                                    <div class="card-body">

                                        <!-- HighSchool History Pulled Icon -->
                                        <div class="container my-2">
                                            <i class="fas fa-school fa-3x fa-pull-left"></i>
                                                <h5><strong>Labschool Junior-Senior Highschool</strong></h5>
                                                <p>Period: 2012 - 2018</p>
                                        </div>

                                        <!-- University History Pulled Icon -->
                                        <div class="container my-2">
                                            <i class="fas fa-university fa-3x fa-pull-left"></i>
                                                <h5><strong>University of Indonesia</strong></h5>
                                                <p>Period: 2018 - now</p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- Work Experience Accordion -->
                            <div class="card bg-dark text-white">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                        <h4><strong>Work Experience</strong></h4>
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="">
                                    <div class="card-body">
                                        <div class="container my-2">
                                            <i class="fas fa-exclamation-circle fa-3x fa-pull-left"></i>
                                                <h5><strong>This section is empty!</strong></h5>
                                                <p>You can help by adding to it. (2019)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Organizational Experience Accordion -->
                            <div class="card bg-secondary text-white">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                                        <h4><strong>Organizational Experience</strong></h4>
                                    </a>
                                </div>
                                <div id="collapseFour" class="collapse" data-parent="">
                                    <div class="card-body">
                                        <div class="container my-2">
                                            <i class="fas fa-exclamation-circle fa-3x fa-pull-left"></i>
                                                <h5><strong>This section is empty!</strong></h5>
                                                <p>You can help by adding to it. (2019)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Awards & Achievements Experience Accordion -->
                            <div class="card bg-dark text-white">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
                                        <h4><strong>Awards & Achievements</strong></h4>
                                    </a>
                                </div>
                                <div id="collapseFive" class="collapse" data-parent="">
                                    <div class="card-body">
                                        <div class="container my-2">
                                            <i class="fas fa-exclamation-circle fa-3x fa-pull-left"></i>
                                                <h5><strong>This section is empty!</strong></h5>
                                                <p>You can help by adding to it. (2019)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

{% endblock %}